[Unit]
Description=Install Determinate Nix
Documentation=https://determinate.systems/nix-installer
After=network-online.target
Wants=network-online.target

ConditionPathExists=!/etc/systemd/system/nix-daemon.service

[Service]
Type=oneshot
ExecStart=/var/usrlocal/bin/nix-setup.sh
TimeoutStartSec=20min
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
