IMAGE_NAME=gamestation
REPO_ORGANIZATION=xeneye
IMAGE_DESC="Custom Bazzite Plasma NVIDIA Workstation"
IMAGE_KEYWORDS="bootc,bazzite,kde,plasma,nvidia,gaming,development"
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG=latest
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
